<link href="{$URI_PUBLIC}css/modal/modal-seller-search.css?{$smarty.now}" rel="stylesheet" />
<div class="col-xs-12 col-sm-3">
    <div id="modal-person-image" class="image-cover"></div>
</div>
<div class="col-xs-12 col-sm-9">
    <div class="row">
        <div class="col-xs-12 col-sm-5">
            <div class="form-group">
                <label for="modal_seller_code">Código</label>
                <input data-value="" type="text" class="form-control" id="modal_seller_code" placeholder="Código" data-to-mask="code"/>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12">
            <div class="form-group">
                <label for="modal_seller_name">Nome</label>
                <input data-value="" type="text" class="form-control" id="modal_seller_name" placeholder="Nome"/>
            </div>
        </div>
    </div>
</div>
<script src="{$URI_PUBLIC}js/modal/modal-seller-search.js?{$smarty.now}"></script>