<link href="{$URI_PUBLIC}css/modal/modal-payment.css?{$smarty.now}" rel="stylesheet" />
<form>
    <div class="col-xs-12 col-sm-6">
        <div class="form-group">
            <label for="modal_payment_deadline">Vencimento</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <input type="text" class="form-control" id="modal_payment_deadline" name="modal_payment_deadline" data-to-mask="date" required>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="form-group">
           <label for="modal_payment_entry">Parcela de Entrada</label>
           <input type="checkbox" class="form-control" id="modal_payment_entry" name="modal_payment_entry" />
       </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="form-group">
            <label for="modal_modality_id">Modalidade</label>
            <select data-live-search="true" data-container="body" data-width="auto" data-size="8" class="selectpicker show-tick" id="modal_modality_id" name="modal_modality_id" title="-- Selecione a Modalidade --" required></select>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="form-group">
            <label for="modal_payment_installment">Parcelas</label>
            <select data-container="body" data-width="auto" data-size="8" class="selectpicker show-tick" id="modal_payment_installment" name="modal_payment_installment" title="-- Parcelas --"required></select>
        </div>
    </div>
    <div class="col-xs-12 col-sm-2" style="padding-left:0;">
        <div class="form-group">
            <label for="modal_payment_value">Valor R$</label>
            <input type="text" class="form-control" id="modal_payment_value" name="modal_payment_value" data-to-mask="money" required>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="form-group">
            <label for="modal_bank_id">Banco</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-university"></i></span>
                <select disabled data-container="body" data-width="auto" data-size="8" class="selectpicker show-tick" id="modal_bank_id" name="modal_bank_id" title="-- Selecione o Banco --"></select>
            </div>
        </div>
    </div>
    <div id="col-agency" class="col-xs-12 col-sm-6">
        <div class="form-group">
            <label for="modal_agency_id">Agência</label>
            <div class="input-group">
                <select disabled data-container="body" data-width="auto" data-size="8" class="selectpicker show-tick" id="modal_agency_id" name="modal_agency_id" title="-- Selecione a Agência --"></select>
                <span data-toggle="tooltip" title="Nova Agência" id="button-new-agency" class="input-group-addon btn btn-green"><i class="fa fa-plus"></i></span>
            </div>
        </div>
    </div>
    <div id="col-new-agency" class="col-xs-12 col-sm-6">
        <div class="form-group">
            <label for="modal_agency_code">Nova Agência</label>
            <div class="input-group">
                <input disabled type="text" class="form-control" id="modal_agency_code" name="modal_agency_code" placeholder="Código da Agência" />
                <span data-toggle="tooltip" title="Cancelar" id="button-new-agency-cancel" class="input-group-addon btn btn-red"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="form-group">
            <label for="modal_check_number">Número do Cheque</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-list-alt"></i></span>
                <input disabled data-value="" type="text" class="form-control" id="modal_check_number" name="modal_check_number" placeholder="Número do Cheque" />
            </div>
        </div>
    </div>
    <button type="submit" class="hidden"></button>
</form>
<script src="{$URI_PUBLIC}js/modal/modal-payment.js?{$smarty.now}"></script>