<link href="{$URI_PUBLIC}css/modal/modal-budget-saved.css" rel="stylesheet" />
<div id="modal-budget-saved">
    <div class="col-xs-12">
        <div class="budget-code">carregando...</div>
        <div class="budget-message">carregando...</div>
    </div>
    <div class="col-xs-12">
        <button data-toggle="tooltip" data-title="Ticket" data-action="ticket" class="btn btn-orange">
            <i class="fa fa-ticket"></i>
        </button>
        <button data-toggle="tooltip" data-title="Imprimir" data-action="print" class="btn btn-green-light">
            <i class="fa fa-print"></i>
        </button>
        <button data-toggle="tooltip" data-title="Cupom" data-action="cupom" class="btn btn-blue-light">
            <i class="fa fa-file-text-o"></i>
        </button>
        <button data-toggle="tooltip" data-title="E-mail" data-action="mail" class="btn btn-green">
            <i class="fa fa-envelope-o"></i>
        </button>
    </div>
</div>
<script> var budget = {$smarty.post|@json_encode}; </script>
<script src="{$URI_PUBLIC}js/modal/modal-budget-saved.js?{$smarty.now}"></script>