<link href="{$URI_PUBLIC}css/modal/modal-budget-note.css?{$smarty.now}" rel="stylesheet" />
<div class="col-xs-12">
    <div class="form-group">
        <label for="modal_budget_note">Observações do Orçamento</label>
        <textarea rows="6" class="form-control" id="modal_budget_note" name="modal_budget_note" placeholder="Observações do Orçamento"></textarea>
    </div>
</div>
<div class="col-xs-12">
    <div class="form-group">
        <label for="modal_budget_note_document">Observações do Documento</label>
        <textarea rows="6" class="form-control" id="modal_budget_note_document" name="modal_budget_note_document" placeholder="Observações do Documento"></textarea>
    </div>
</div>