<link href="{$URI_PUBLIC}css/modal/modal-product-search-selected.css?{$smarty.now}" rel="stylesheet" />
<table id="modal-table-products-selected" class="table-custom no-select nowrap">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Qtd</th>
            <th>Valor</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<script src="{$URI_PUBLIC}js/modal/modal-product-search-selected.js?{$smarty.now}"></script>