<link href="{$URI_PUBLIC}css/modal/modal-product-info-more.css?{$smarty.now}" rel="stylesheet" />
<table id="table-product-info-more" class="table-custom no-select nowrap">
    <thead>
        <tr>
            <th>Pedido</th>
            <th>Fornecedor</th>
            <th>Qt. Comprada</th>
            <th>Dt. Emissão</th>
            <th>Dt. Entrega</th>
            <th>Dt. Última Compra</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<script src="{$URI_PUBLIC}js/modal/modal-product-info-more.js?{$smarty.now}"></script>
<script> ModalProductInfoMore.data = {$smarty.post|@json_encode}; </script>