.panel .panel-tools
{
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    position: fixed;
}

.panel .panel-tools .action
{
    float: left;
    height: 60px;
    padding: 12px;
    font-size: 26px;
    margin-right: 5px;
    text-align: center;
}

.panel .panel-tools button
{
    float: left;
    padding: 8px;
    font-size: 22px;
    margin: 14px 5px 8px;
}

.panel .panel-tools .pipe
{
    width: 2px;
    float: left;
    height: 20px;
    margin: 24px 5px 16px;
}