.ekko-lightbox .modal-dialog .modal-content .modal-header
{
    top: -68px
}

.panel-items .cover-big
{
    width: 100%;
    height: 116px;
    border: 1px solid #ddd;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../../../images/empty-image.png');
}

.panel-items table tr td
{
    font-size: 12px;
    background-color: #fff;
}

.panel-items table tr td:nth-child(1):not(.dataTables_empty)
{
    padding: 0;
}

.panel-items table .budget-product-cover
{
    width: 60px;
    height: 46px;
    margin: 0 auto;
    cursor: pointer;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../../../images/empty-image.png');
}

.panel-items table button
{
    font-size: 18px;
}

.panel-items table button[data-action="edit"]
{
    margin: 2px 4px;
}

.panel-items .items
{
    float: left;
    font-size: 18px;
    padding: 10px 0 0;
}

.panel-items .total
{
    float: right;
    font-size: 18px;
    padding: 10px 0 0;
}

.panel-items #button-budget-item-add,
.panel-items #button-budget-item-remove
{
    width: 47px;
    height: 34px;
}