.ekko-lightbox .modal-dialog .modal-content .modal-header
{
    top: -68px
}

.panel-items .cover-big
{
    width: 100%;
    height: 116px;
    border: 1px solid #ddd;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../../../images/empty-image.png');
}

.panel-items table tr td
{
    font-size: 12px;
    background-color: #fff;
}

.panel-items table tr td .dropdown-menu
{
    right: auto;
    position: fixed;
}

.ekko-lightbox-nav-overlay a
{
    color: #333;
}

.panel-items table tr.idne1 td:nth-child(1){ border-left:4px solid red; }
.panel-items table tr.idne2 td:nth-child(1){ border-left:4px solid orange; }
.panel-items table tr.idne3 td:nth-child(1){ border-left:4px solid purple; }
.panel-items table tr.idne4 td:nth-child(1){ border-left:4px solid blue; }
.panel-items table tr.idne5 td:nth-child(1){ border-left:4px solid green; }

.panel-items table tr td:nth-child(1):not(.dataTables_empty)
{
    padding: 0;
}

.panel-items table .budget-product-cover
{
    width: 60px;
    height: 46px;
    margin: 0 auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../../../images/empty-image.png');
}

.panel-items table .budget-product-cover[data-action="lightbox"]
{
    cursor: pointer;
}

.panel-items table button
{
    font-size: 14px;
}

.panel-items table button[data-action="up"],
.panel-items table button[data-action="down"]
{
    right: 4px;
    font-size: 12px;
    position: absolute;
}

.panel-items table button[data-action="up"]
{
    top: 4px;
}
.panel-items table button[data-action="down"]
{
    bottom: 4px;
}


.panel-items table button[data-action="edit"]
{
    margin: 2px;
}

.panel-items .footer-items div
{
    float: left;
    color: #666;
    font-size: 16px;
    padding: 10px 10px 0;
}

.panel-items .footer-items .items
{
    padding: 10px 10px 0 0;
}

.panel-items .footer-items .total
{
    float: right;
    padding: 10px 0 0 10px;
}

.panel-items #button-budget-item-add,
.panel-items #button-budget-item-remove
{
    width: 47px;
    height: 34px;
}