.panel-person
{
    position: relative;
    padding-bottom: 58px;
}

.panel-person #button-budget-person-new
{
    top: 0;
    right: 0;
    width: 148px;
    height: 62px;
    z-index: 1001;
    position: absolute;
    text-transform: uppercase;
}

.panel-person .image-cover
{
    height: 266px;
    background-image: url('../../../../images/empty-image.png');
}

.panel-person .image-cover .text
{
    display: none !important;
}

.panel-person .person-attributes
{
    width: 100%;
    height: 78px;
    padding: 10px;
    display: table;
    margin-bottom: 10px;
    border: 1px solid #eee;
}

.panel-person .person-attributes .attribute
{
    float: left;
    width: 56px;
    height: 56px;
    margin: 0 6px;
    font-size: 42px;
    text-align: center;
    border-radius: 50%;
    background-size: cover;
    background-color: orange;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}

.panel-person #button-image-person-web-cam
{
    top: -16px;
    width: 42px;
    height: 42px;
    right: -16px;
    border-radius: 50% !important;
}

.panel-person .panel-footer
{
    left: 0;
    bottom: 0;
    width: 100%;
    display: table;
    font-size: 14px;
    text-align: left;
    position: absolute;
    border-top: 1px solid #ddd;
}

.panel-person .panel-footer > div,
.panel-person .panel-footer .budget-delivery > div,
.panel-person .panel-footer .budget-delivery > button
{
    float: left;
}

.panel-person .panel-footer .budget-delivery
{
    margin-right: 10px;
}

.panel-person .panel-footer .budget-delivery button
{
    padding: 2px 6px;
    position: relative;
    border-radius: 4px !important;
}

.panel-person .panel-footer .budget-delivery button i.fa-times,
.panel-person .panel-footer .budget-delivery button i.fa-check
{
    top: 8px;
    left: 20px;
    font-size: 14px;
    position: absolute;
}

.panel-person .panel-footer .budget-delivery button.selected
{
    background-color: lightgray;
}

.panel-person .panel-footer .budget-delivery .toggle-delivery
{
    width: 38px;
    height: 20px;
    margin: 10px 2px;
    background: gray;
    border-radius: 12px;
}

.panel-person .panel-footer .budget-delivery .toggle-delivery .spin
{
    left: 9px;
    width: 20px;
    height: 20px;
    position: relative;
    border-radius: 50%;
    background: lightgray;
    transition: left .3s ease;
}

.panel-person .panel-footer i.fa-truck
{
    font-size: 30px;
}

.panel-person .panel-footer div span
{
    color: gray;
    display: block;
    font-size: 12px;
}

.panel-person .panel-footer button
{
    float: right;
    margin: 2px;
}

.panel-person .panel-footer #button-budget-person-address-new,
.panel-person .panel-footer #button-budget-person-address-back
{
    display: none;
}

.panel-person .panel-body
{
    overflow-y: auto;
    max-height: 458px;
}