.panel-items table tr td
{
    font-size: 12px;
}

.panel-items table .budget-product-cover
{
    width: 30px;
    height: 30px;
    margin: 0 auto;
    border-radius: 50%;
    background-size: cover;
    background-image: url('../../../../images/empty-image.png');
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}

.panel-items table button
{
    font-size: 18px;
}

.panel-items table button[data-action="edit"]
{
    margin: 2px 4px;
}

.panel-items .items
{
    float: left;
    font-size: 18px;
    padding: 10px 0 0;
}

.panel-items .total
{
    float: right;
    font-size: 18px;
    padding: 10px 0 0;
}

.panel-items #button-budget-item-add,
.panel-items #button-budget-item-remove
{
    width: 60px;
    height: 34px;
}