.panel-person
{
    position: relative;
    padding-bottom: 58px;
}

.panel-person #button-budget-person-new
{
    top: 0;
    right: 0;
    width: 148px;
    height: 62px;
    position: absolute;
    text-transform: uppercase;
}

.panel-person .image-cover
{
    height: 266px;
    background-image: url('../../../../images/empty-image.png');
}

.panel-person .image-cover .text
{
    display: none !important;
}

.panel-person .person-attributes
{
    width: 100%;
    height: 78px;
    padding: 10px;
    display: table;
    margin-bottom: 10px;
    border: 1px solid #eee;
}

.panel-person .person-attributes .attribute
{
    float: left;
    width: 56px;
    height: 56px;
    margin: 0 6px;
    font-size: 42px;
    text-align: center;
    border-radius: 50%;
    background-size: cover;
    background-color: orange;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}

.panel-person #button-image-person-web-cam
{
    top: -16px;
    width: 42px;
    height: 42px;
    right: -16px;
    border-radius: 50% !important;
}

.panel-person .panel-footer
{
    left: 0;
    bottom: 0;
    width: 100%;
    display: table;
    font-size: 14px;
    text-align: left;
    position: absolute;
    border-top: 1px solid #ddd;
}

.panel-person .panel-footer div
{
    float: left;
}

.panel-person .panel-footer i.fa-truck
{
    font-size: 36px;
    margin: 2px 10px 0 0;
}

.panel-person .panel-footer div span
{
    color: gray;
    display: block;
    font-size: 12px;
}

.panel-person .panel-footer button
{
    float: right;
    margin: 2px;
}

.panel-person .panel-footer #button-budget-person-address-new,
.panel-person .panel-footer #button-budget-person-address-back
{
    display: none;
}

.panel-person .panel-body
{
    overflow-y: auto;
    max-height: 436px;
}