.panel .panel-tools
{
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    position: fixed;
    background-color: #fff;
}

.panel .panel-tools .action
{
    color: #fff;
    float: left;
    height: 60px;
    padding: 12px;
    font-size: 26px;
    text-align: center;
    margin-right: 18px;
}

.panel .panel-tools .action:before
{
  top: 0;
  width: 0;
  height: 0;
  content: "";
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  border-right: 15px solid transparent;
  border-bottom: 0px solid transparent;
}

.panel .panel-tools .action.new:before
{
    left: 202px;
    border-left: 0 solid #379939;
    border-top: 60px solid #379939;
}

.panel .panel-tools .action.edit:before
{
    left: 217px;
    border-left: 0 solid #337be0;
    border-top: 60px solid #337be0;
}

.panel .panel-tools .action.clone:before
{
    left: 241px;
    border-left: 0 solid #fe9045;
    border-top: 60px solid #fe9045;
}


.panel .panel-tools button
{
    float: left;
    padding: 8px;
    font-size: 22px;
    margin: 10px 5px 8px;
}

.panel .panel-tools .pipe
{
    width: 2px;
    float: left;
    height: 20px;
    margin: 20px 5px 16px;
}