<div class="panel-body">
    <div class="panel panel-shipment">
        {include file="{$PATH_TEMPLATES}window/shipment/includes/shipment-tools.html"}
        {include file="{$PATH_TEMPLATES}window/shipment/includes/shipment-documents.html"}
        {include file="{$PATH_TEMPLATES}window/shipment/includes/shipment-vehicle.html"}
        {include file="{$PATH_TEMPLATES}window/shipment/includes/shipment-people.html"}
        {include file="{$PATH_TEMPLATES}window/shipment/includes/shipment-route.html"}
        {include file="{$PATH_TEMPLATES}window/shipment/includes/shipment-buttons.html"}
    </div>
</div>
<footer>
    <div class="logo"></div>
    <div class="info"></div>
    <div class="idne"></div>
</footer>