<div class="row">
    <div class="col-xs-12">
        <div class="title">
            Endereço
            <button id="button-address-geolocation" class="btn btn-empty-red pull-right">
                <i class="fa fa-map-marker"></i>
            </button>
        </div>
    </div>
    <div class="col-xs-12 col-sm-2">
        <div class="form-group">
            <label for="modal_address_cep">CEP</label>
            <div class="input-group">
                <input autocomplete="off" type="text" class="form-control" id="modal_address_cep" name="modal_address_cep" placeholder="CEP" data-to-mask="cep">
                <span data-toggle="tooltip" data-title="Pesquisar Cep" class="btn input-group-addon" id="button-cep-search"><i class="fa fa-search"></i></span>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-2">
        <div class="form-group">
            <label for="modal_address_type">Tipo</label>
            <select data-size="8" data-live-search="true" class="selectpicker show-tick" id="modal_address_type" name="modal_address_type" title="-- Tipo --"></select>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="form-group">
            <label for="modal_address_public_place">Logradouro</label>
            <input maxlength="50" placeholder="Logradouro" autocomplete="off" class="form-control" type="text" id="modal_address_public_place" name="modal_address_public_place" />
        </div>
    </div>
    <div class="col-xs-12 col-sm-2">
        <div class="form-group">
            <label for="modal_address_number">Número</label>
            <input placeholder="Número" autocomplete="off" class="form-control" type="text" id="modal_address_number" name="modal_address_number"/>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3">
        <div class="form-group">
            <label for="modal_city_name">Cidade</label>
            <div class="input-group">
                <input data-value="" placeholder="Cidade" autocomplete="off" class="form-control" type="text" id="modal_city_name" name="modal_city_name"/>
                <span data-toggle="tooltip" data-title="Remover Cidade" class="btn input-group-addon" id="button-address-city-remove"><i class="fa fa-trash"></i></span>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3">
        <div class="form-group">
            <label for="modal_district_name">Bairro</label>
            <div class="input-group">
                <input data-value="" placeholder="Bairro" autocomplete="off" class="form-control" type="text" id="modal_district_name" name="modal_district_name"/>
                <span data-toggle="tooltip" data-title="Remover Bairro" class="btn input-group-addon" id="button-address-district-remove"><i class="fa fa-trash"></i></span>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3">
        <div class="form-group">
            <label for="modal_address_icms_type">Contribuição de ICMS</label>
            <select class="selectpicker show-tick" id="modal_address_icms_type" name="modal_address_icms_type">
                <option value="1">Contribuinte ICMS</option>
                <option selected value="2">Contribuinte Isento</option>
                <option value="9">Não Contribuinte</option>
            </select>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3">
        <div class="form-group">
            <label for="modal_address_ie">Inscrição Estadual</label>
            <input maxlength="20" readonly placeholder="Inscrição Estadual" class="form-control" type="text" id="modal_address_ie" name="modal_address_ie" value="ISENTO"/>
        </div>
    </div>
    <div class="col-xs-12"><hr/></div>
    <div class="col-xs-12 col-sm-6">
        <div class="row">
            <div class="col-xs-12">
                <div class="title">Contatos</div>
                <div id="modal-contacts" class="contacts"></div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="row">
            <div class="col-xs-12">
                <div class="title">Observações</div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <textarea rows="8" class="form-control" id="modal_address_note" name="modal_address_note" placeholder="Observações do Endereço"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>