<form name="modal-form-password">
    <div class="col-xs-12">
        <div class="form-group">
            <label for="modal_user_pass">Senha atual</label>
            <input placeholder="Senha atual" autocomplete="nope" class="form-control" type="password" id="modal_user_pass" name="modal_user_pass" required />
        </div>
    </div>
    <div class="col-xs-12">
        <hr/>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="form-group">
            <label for="modal_user_new_pass">Nova senha</label>
            <input placeholder="Nova senha" autocomplete="nope" class="form-control" type="password" id="modal_user_new_pass" name="modal_user_new_pass" required />
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="form-group">
            <label for="modal_user_pass_confirm">Confirme a nova senha</label>
            <input placeholder="Confirme a nova senha" autocomplete="nope" class="form-control" type="password" id="modal_user_pass_confirm" name="modal_user_pass_confirm" required />
        </div>
    </div>
    <button class="hidden"></button>
</form>