<header class="bg-white box-shadow">
    <div class="home">
        <a href="{$URI_PUBLIC}">
            <img src="{$config->uri->uri_public}images/commercial-c.png" />
        </a>
    </div>
    <div class="title title-{if empty($data->$route->parent)}{$data->$route->key}{else}{$data->$route->parent}{/if}">
        <i class="fa fa-fw {$data->$route->icon}"></i> {$data->$route->title}<div class="arrow"></div>
    </div>
    <div class="logo">
        <img src="{$config->uri->uri_public}images/commercial-wide.png" />
    </div>
    <div class="user dropdown pull-right">
        <div class="cover" style="background-image:url({$login->image})"></div>
        <div class="info">
            {$login->user_name}
            <span>{$login->user_profile->user_profile_name}</span>
        </div>
        <button class="btn btn-empty dropdown-toggle" type="button" data-toggle="dropdown">
            <i class="fa fa-caret-down text-blue"></i>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#change-pass"><i class="fa fa-fw fa-lock"></i> Alterar Senha</a></li>
            <li><a href="#logout"><i class="fa fa-fw fa-sign-out"></i> Efetuar Logout</a></li>
        </ul>
    </div>
</header>
<div class="menu">
    <ul>
        <li>
            <a href="{$URI_PUBLIC}index.php?route=agenda" class="agenda">
                <i class="fa fa-calendar"></i>Agenda
            </a>
        </li>
        <li>
            <a href="{$URI_PUBLIC}index.php?route=sale" class="sale">
                <i class="fa fa-usd"></i>Vendas
            </a>
            <div class="sub-menu">
                <a href="{$URI_PUBLIC}index.php?route=target" class="sale">
                    <i class="fa fa-bullseye"></i>Metas
                </a>
                <a href="{$URI_PUBLIC}index.php?route=budget" class="sale">
                    <i class="fa fa-file-text-o"></i>Orçamentos
                </a>
                <a href="{$URI_PUBLIC}index.php?route=devolution" class="sale">
                    <i class="fa fa-reply-all"></i>Devoluções
                </a>
                <a href="{$URI_PUBLIC}index.php?route=package" class="sale">
                    <i class="fa fa-cube"></i>Encomendas
                </a>
            </div>
        </li>
        <li>
            <a href="{$URI_PUBLIC}index.php?route=stock" class="stock">
                <i class="fa fa-cubes"></i>Estoque
            </a>
            <div class="sub-menu">
                <a href="{$URI_PUBLIC}index.php?route=inventory" class="stock">
                    <i class="fa fa-question-circle"></i>Inventário
                </a>
                <a href="{$URI_PUBLIC}index.php?route=sge" class="stock">
                    <i class="fa fa-question-circle"></i>Assistente SGE
                </a>
            </div>
        </li>
        <li>
            <a href="{$URI_PUBLIC}index.php?route=report" class="report">
                <i class="fa fa-bar-chart"></i>Relatórios
            </a>
            <div class="sub-menu">
                <a href="{$URI_PUBLIC}index.php?route=compass" class="report">
                    <i class="fa fa-location-arrow"></i>Compass
                </a>
                <a href="{$URI_PUBLIC}index.php?route=cube" class="report">
                    <i class="fa fa-cube"></i>Cube Report
                </a>
            </div>
        </li>
        <li>
            <a href="{$URI_PUBLIC}index.php?route=logistics" class="logistics">
                <i class="fa fa-truck"></i>Logística
            </a>
            <div class="sub-menu">
                <a href="{$URI_PUBLIC}index.php?route=shipment" class="logistics">
                    <i class="fa fa-map-o"></i>Mapa de Carregamento
                </a>
                <a href="{$URI_PUBLIC}index.php?route=management" class="logistics">
                    <i class="fa fa-magic"></i>Gestão
                </a>
            </div>
        </li>
        <li>
            <a href="{$URI_PUBLIC}index.php?route=rh" class="rh">
                <i class="fa fa-users"></i>RH
            </a>
            <div class="sub-menu">
                <a href="{$URI_PUBLIC}index.php?route=person" class="rh">
                    <i class="fa fa-user-plus"></i>Pessoas
                </a>
                <a href="{$URI_PUBLIC}index.php?route=highlights" class="rh">
                    <i class="fa fa-star"></i>Melhores do Mês
                </a>
                <a href="{$URI_PUBLIC}index.php?route=pay" class="rh">
                    <i class="fa fa-money"></i>Folha de Pagamento
                </a>
            </div>
        </li>
        <li>
            <a href="{$URI_PUBLIC}index.php?route=production" class="production">
                <i class="fa fa-dropbox"></i>Produção
            </a>
            <div class="sub-menu">
                <a href="{$URI_PUBLIC}index.php?route=sisprod" class="production">
                    <i class="fa fa-cogs"></i>Sisprod
                </a>
                <a href="{$URI_PUBLIC}index.php?route=glass" class="production">
                    <i class="fa fa-object-ungroup"></i>Vidro
                </a>
            </div>
        </li>
        <li>
            <a href="{$URI_PUBLIC}index.php?route=crm" class="crm">
                <i class="fa fa-address-card-o"></i>CRM
            </a>
            <div class="sub-menu sub-menu-crm">
                <a href="{$URI_PUBLIC}index.php?route=client" class="crm">
                    <i class="fa fa-users"></i>Cliente
                </a>
                <a href="{$URI_PUBLIC}index.php?route=followup" class="crm">
                    <i class="fa fa-phone-square"></i>Follow Up
                </a>
            </div>
        </li>
        <li>
            <a href="{$URI_PUBLIC}index.php?route=config" class="config">
                <i class="fa fa-gear"></i>Configurações
            </a>
            <div class="sub-menu sub-menu-config">
                <a href="{$URI_PUBLIC}index.php?route=user" class="config">
                    <i class="fa fa-user"></i>Usuários
                </a>
                <a href="{$URI_PUBLIC}index.php?route=profile" class="config">
                    <i class="fa fa-user-circle-o"></i>Perfil de Usuário
                </a>
                <a href="{$URI_PUBLIC}index.php?route=company" class="config">
                    <i class="fa fa-building"></i>Empresas
                </a>
            </div>
        </li>
    </ul>
</div>