<header class="box-shadow {if empty($data->$route->parent)}{$data->$route->key}{else}{$data->$route->parent}{/if}">
    <div class="home">
        <a href="{$URI_PUBLIC}">
            <img src="{$config->uri->uri_public}images/commercial-c.png" />
        </a>
    </div>
    <div class="title">
        <i class="fa fa-fw {$data->$route->icon}"></i> {$data->$route->title}<div class="arrow"></div>
    </div>
    {if $route == "home"}
        <div class="logo">
            <img src="{$config->uri->uri_public}images/commercial-wide-2.png" />
        </div>
    {/if}
    <div class="user dropdown pull-right">
        <button data-action="chat" class="btn button-header-{if empty($data->$route->parent)}{$data->$route->key}{else}{$data->$route->parent}{/if}">
            <i class="fa fa-comment"></i>
        </button>
        <button data-action="alerts" class="btn button-header-{if empty($data->$route->parent)}{$data->$route->key}{else}{$data->$route->parent}{/if}">
            <i class="fa fa-bell"></i>
        </button>
        <button data-action="theme" class="btn button-header-{if empty($data->$route->parent)}{$data->$route->key}{else}{$data->$route->parent}{/if}">
            <i class="fa fa-paint-brush"></i>
        </button>
        <div class="user-user">
            <div class="cover"{if !empty($login->image)} style="background-image:url({$login->image})"{/if}></div>
            <div class="info">
                {$login->user_name}
                <span>{$login->user_profile->user_profile_name}</span>
            </div>
            <button class="btn btn-empty-white dropdown-toggle" type="button" data-toggle="dropdown">
                <i class="fa fa-caret-down"></i>
            </button>
            <ul class="dropdown-menu pull-right">
                <li><a href="#change-pass"><i class="fa fa-fw fa-lock txt-orange"></i> Alterar Senha</a></li>
                <li><a href="#logout"><i class="fa fa-fw fa-sign-out txt-red-light"></i> Efetuar Logout</a></li>
            </ul>
        </div>
    </div>
</header>
{include file="{$PATH_TEMPLATES}includes/menu.html"}
{include file="{$PATH_TEMPLATES}includes/chat.html"}