.modal-product-search-selected .modal-dialog
{
    width: 800px;
}

.modal-product-search-selected .dataTables_scrollHeadInner,
.modal-product-search-selected .dataTables_scrollHeadInner .dataTable
{
    width: 100% !important;
}

.modal-product-search-selected .dataTables_scrollHeadInner th:nth-child(1){ width: 40px !important; }
.modal-product-search-selected .dataTables_scrollHeadInner th:nth-child(2){ width: auto !important; }
.modal-product-search-selected .dataTables_scrollHeadInner th:nth-child(3){ width: 49px !important; }
.modal-product-search-selected .dataTables_scrollHeadInner th:nth-child(4){ width: 53px !important; }
.modal-product-search-selected .dataTables_scrollHeadInner th:nth-child(5){ width: 93px !important; }
.modal-product-search-selected .dataTables_scrollHeadInner th:nth-child(6){ width: 9px !important; }

.modal-product-search-selected .dataTables_scrollBody td:nth-child(1){ width: 70px; }
.modal-product-search-selected .dataTables_scrollBody td:nth-child(2){ width: auto; }
.modal-product-search-selected .dataTables_scrollBody td:nth-child(3){ width: 60px; }
.modal-product-search-selected .dataTables_scrollBody td:nth-child(4){ width: 80px; }
.modal-product-search-selected .dataTables_scrollBody td:nth-child(5){ width: 120px; }
.modal-product-search-selected .dataTables_scrollBody td:nth-child(6){ width: 20px; }

.modal-product-search-selected .dataTables_scrollBody td input
{
    width: 60px;
}

@media(max-height:700px)
{
    .modal-product-search-selected
    {
        top: 80px;
    }
}