.modal-seller-search .modal-body
{
    height: 156px;
    overflow: visible !important;
}

.modal-seller-search .modal-body .image-cover
{
    height: 116px;
    background-image: url('../../images/empty-image.png');
}