.modal-product-search .dataTables_scrollHeadInner,
.modal-product-search .dataTables_scrollHeadInner .dataTable
{
    width: 100% !important;
}

.modal-product-search .dataTables_scrollBody tr td.dataTables_empty
{
    height: 304px;
}

.modal-product-search table tr td input
{
    width: 20px;
    height: 20px;
}

.modal-product-search .legend
{
    width: 100%;
    padding: 12px;
    display: table;
    border: 1px solid #ddd;
}

.modal-product-search .legend > div
{
    float: left;
    margin-right: 10px;
}

.modal-product-search .legend button
{
    left: 0;
    right: 0;
    width: 138px;
    margin: 0 auto;
    position: absolute;
}

@media(max-height:700px)
{
    .modal-product-search .dataTables_scrollBody tr td.dataTables_empty
    {
        height: 222px;
    }
}