table button i
{
    font-size: 16px !important;
}

.modal-product-info .info-top
{
    width: 100%;
    display: table;
    margin-bottom: 20px;
    padding-left: 114px;
}

.modal-product-info .info-top .image
{
    top: 20px;
    left: 20px;
    width: 94px;
    height: 88px;
    position: absolute;
    border: 1px solid #ddd;
    background-size: cover;
    background-position: center;
    background-image: url('../../images/empty-image.png');
}

.modal-product-info .info-top .name
{
    font-size: 24px;
    margin-bottom: 4px;
}

.modal-product-info .info-top .name i.idne1{ color: red; }
.modal-product-info .info-top .name i.idne2{ color: orange; }
.modal-product-info .info-top .name i.idne3{ color: purple; }
.modal-product-info .info-top .name i.idne4{ color: blue; }
.modal-product-info .info-top .name i.idne5{ color: green; }

.modal-product-info .info-top .default span
{
    color: gray;
}

.modal-product-info .info-top .default-info
{
    float: left;
    margin-right: 20px;
}

.modal-product-info .dataTables_scrollHeadInner,
.modal-product-info .dataTables_scrollHeadInner .dataTable
{
    width: 100% !important;
}

.modal-product-info .legend
{
    width: 100%;
    padding: 12px;
    display: table;
    border: 1px solid #ddd;
}

.modal-product-info .legend > div
{
    float: left;
    margin-right: 10px;
}