.modal.modal-map-single .modal-content .modal-body
{
    padding: 0;
}

.modal-map-single .modal-body #modal-map
{
    width: 100%;
    height: 480px;
    background-size: cover;
    background-position: center;
    background-image: url('../../images/googlemaps.jpg');
}