#modal-payment
{
    top: 100px;
}

.modal-payment .modal-content .modal-body
{
    overflow: hidden;
    max-height: 328px;
}

.modal-payment .modal-content #col-new-agency
{
    display: none;
}

.modal-payment .bank-section
{
    display: none;
}