<div class="intranet">
    <div class="col-xs-12 col-sm-9">
        <div id="slide" class="carousel slide" data-ride="slide">
            <ol class="container carousel-indicators"></ol>
            <div class="carousel-inner"></div>
            <a class="left carousel-control" href="#slide" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#slide" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="box-shadow bg-red" style="width:100%;height:300px;margin-top:30px;"></div>
    </div>
    <div class="col-xs-12 col-sm-3">
        <div id="birthdays" class="box-shadow carousel slide" data-ride="slide">
            <div class="carousel-inner">
                <div class="card item active">
                    <div class="image box-shadow"></div>
                    <div class="name txt-blue">--</div>
                    <div class="date txt-red">--</div>
                    <div class="text">--</div>
                </div>
            </div>
            <a class="left" href="#birthdays" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right" href="#birthdays" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
        <div class="suggestion box-shadow">
            <div class="panel panel-items">
                <div class="panel-heading ph-blue"><i class="fa fa-envelope-o"></i> Caixa de sugestão</div>
                <div class="panel-body">
                    <form id="form-suggestion" class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>Nome</label>
                                <input class="form-control" name="person_name" placeholder="Nome" />
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>Empresa</label>
                                <select data-size="10" class="selectpicker show-tick" name="company_id" title="-- Selecione a Empresa --" required></select>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="suggestion_message">Mensagem</label>
                                <textarea rows="6" class="form-control" id="suggestion_message" name="suggestion_message" placeholder="Mensagem" required></textarea>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <button class="btn btn-blue btn-block">
                                <i class="fa fa-send"></i> Enviar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <span class="pull-right">{$config->system->system_name} v{$config->system->system_version}</span>
</footer>