<div class="intranet">
    <div class="col-xs-12 col-sm-9">
        <div id="slide" class="carousel slide box-shadow" data-ride="slide">
            <ol class="container carousel-indicators"></ol>
            <div class="carousel-inner"></div>
            <a class="left carousel-control" href="#slide" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#slide" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div id="blog">
            <div class="title">Noticias do grupo Dafel</div>
            <div class="news row">
                <div class="col-xs-12 col-sm-6">
                    <div data-key="0" class="item box-shadow no-select loading">
                        <div class="post-cover"></div>
                        <div class="post-data">
                            <div class="post-category">&nbsp;</div>
                            <div class="post-title">&nbsp;</div>
                            <div class="post-preview">&nbsp;</div>
                            <div class="post-date"><i class="fa fa-clock-o"></i>&nbsp;</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div data-key="1" class="item box-shadow no-select loading">
                        <div class="post-cover"></div>
                        <div class="post-data">
                            <div class="post-category">&nbsp;</div>
                            <div class="post-title">&nbsp;</div>
                            <div class="post-preview">&nbsp;</div>
                            <div class="post-date"><i class="fa fa-clock-o"></i>&nbsp;</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div data-key="2" class="item box-shadow no-select loading">
                        <div class="post-cover"></div>
                        <div class="post-data">
                            <div class="post-category">&nbsp;</div>
                            <div class="post-title">&nbsp;</div>
                            <div class="post-preview">&nbsp;</div>
                            <div class="post-date"><i class="fa fa-clock-o"></i>&nbsp;</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div data-key="3" class="item box-shadow no-select loading">
                        <div class="post-cover"></div>
                        <div class="post-data">
                            <div class="post-category">&nbsp;</div>
                            <div class="post-title">&nbsp;</div>
                            <div class="post-preview">&nbsp;</div>
                            <div class="post-date"><i class="fa fa-clock-o"></i>&nbsp;</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3">
        <div id="birthdays" class="box-shadow carousel slide" data-ride="slide">
            <div class="carousel-inner">
                <div class="card item active">
                    <div class="image box-shadow"></div>
                    <div class="name txt-blue">--</div>
                    <div class="date txt-red">--</div>
                    <div class="text">--</div>
                </div>
            </div>
            <a class="left" href="#birthdays" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right" href="#birthdays" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
        <div class="suggestion box-shadow">
            <div class="panel panel-items">
                <div class="panel-heading ph-blue"><i class="fa fa-envelope-o"></i> Caixa de sugestão</div>
                <div class="panel-body">
                    <form id="form-suggestion" class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>Nome</label>
                                <input class="form-control" name="person_name" placeholder="Nome" />
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>Empresa</label>
                                <select data-size="10" class="selectpicker show-tick" name="company_id" title="-- Selecione a Empresa --" required></select>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="suggestion_message">Mensagem</label>
                                <textarea class="form-control" id="suggestion_message" name="suggestion_message" placeholder="Mensagem" required></textarea>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <button class="btn btn-blue btn-block">
                                <i class="fa fa-send"></i> Enviar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div id="target" class="box-shadow">
            <div class="target-title">Acompanhamento de Metas</div>
            <div class="row">
                <div class="col-xs-12 col-sm-3">
                    <div class="person"{if !empty($login->image)} style="background-image:url({$login->image})"{/if}></div>
                </div>
                <!--<div class="col-xs-12 col-sm-3">-->
                <!--<div class="month">-->
                <!--<div class="info"><b>Novembro de {$smarty.now|date_format:'%Y'}</b></div>-->
                <!--<div class="info">Dias úteis:<label class="label-warning">20</label></div>-->
                <!--<div class="info">Meta:<label class="label-warning">R$ 120.000,00</label></div>-->
                <!--<div class="info">Resultado:<label class="label-warning">R$ 3.588,30</label></div>-->
                <!--<div class="info">Md Fixa:<label class="label-warning">R$ 6.315,99</label></div>-->
                <!--<div class="info">Md Dinâmica:<label class="label-warning">R$ 6.467,28</label></div>-->
                <!--</div>-->
                <!--</div>-->
                <div class="col-xs-12 col-sm-3">
                    <div id="month-donut" class="donut-chart chart2">
                        <!-- -90deg = 0% 90deg = 50% -->
                        <!-- se maior que 50 pintar de #48b2c1 caso contrário #48b2c1 -->
                        <div class="slice one" style="transform:rotate(-90deg);background-color:#48b2c1;"></div>
                        <!-- 0% até 50% -->
                        <!-- 180deg = 51% 360deg = 100% -->
                        <!-- 51% até 100% -->
                        <div class="slice two" style="transform:rotate(0deg);background-color:#666;"></div>
                        <div class="chart-center">
                            <span id="month-value">Mensal<br/>R$ --</span>
                            <span id="month-percent">--</span>
                            <span id="month-result">R$ --<br/>Faturado</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <div id="daily-donut" class="donut-chart chart2">
                        <!-- 0% até 50% -->
                        <!-- -90deg = 0% 90deg = 50% -->
                        <div class="slice one" style="transform:rotate(-90deg);background-color:#48b2c1;"></div>
                        <!-- 51% até 100% -->
                        <!-- 180deg = 51% 360deg = 100% -->
                        <!-- se maior que 50 pintar de #48b2c1 caso contrário #48b2c1 -->
                        <div class="slice two" style="transform:rotate(0deg);background-color:#666;"></div>
                        <div class="chart-center">
                            <span id="daily-value">Diário<br/>R$ --</span>
                            <span id="daily-percent">--</span>
                            <span id="daily-result">R$ --<br/>Faturado</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <div id="dynamic-donut" class="donut-chart chart2">
                        <!-- 180deg = 51% 360deg = 100% -->
                        <!-- se maior que 50 pintar de #48b2c1 caso contrário #48b2c1 -->
                        <div class="slice one" style="transform:rotate(-90deg);background-color:#48b2c1;"></div>
                        <!-- 0% até 50% -->
                        <!-- -90deg = 0% 90deg = 50% -->
                        <!-- 51% até 100% -->
                        <div class="slice two" style="transform:rotate(0deg);background-color:#666;"></div>
                        <div class="chart-center">
                            <span id="dynamic-value">Dinâmico<br/>R$ --</span>
                            <span id="dynamic-percent">--</span>
                            <span id="dynamic-result">R$ --<br/>Faturado</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <span class="pull-right">{$config->system->system_name} v{$config->system->system_version}</span>
</footer>