<!-- Cadastro por produto -->
<div id="product-registation" class="col-xs-12 col-sm-12">
   <div class="col-xs-12 col-sm-6">
      <h1>Por Produto</h1>
      <div class="row">
         <!-- Codigo do produto -->
         <div class="col-xs-12 col-sm-4">
            <div class="form-group">
               <label for="registration_product_code">Codigo</label>
               <input type="text" class="form-control" id="registration_product_code" placeholder="Codigo">
            </div>
         </div>
         <!-- Nome do produto -->
         <div class="col-xs-12 col-sm-8">
            <div class="form-group">
               <label for="registration_product_name">Produto</label>
               <input type="text" class="form-control" id="registration_product_name" placeholder="Produto">
            </div>
         </div>
         <!-- Codigo de barras -->
         <div class="col-xs-12 col-sm-12">
            <div class="form-group">
               <label for="registration_product_EAN">Codigo de Barras</label>
               <input type="text" class="form-control" id="registration_product_EAN" placeholder="Ex: 7897095012642">
            </div>
         </div>
      </div>
   </div>
   <div class="col-xs-12 col-sm-6">
      <div class="form-group form-group-file">
         <!-- <label for="file-image-product">Foto</label> -->
         <div id="product-image-cover" class="image-cover image-place">
            <span class="text">Sem imagem</span>
            <input data-disabled="true" type="file" id="file-image-product" accept=".jpg, .jpeg, .png|images/*" class="filestyle" data-buttonText="Procurar" data-buttonName="btn-block btn-green" data-iconName="fa fa-file-image-o" data-input="false">
            <button disabled type="button" id="button-image-product-remove" class="btn btn-red"><i class="fa fa-times"></i> Remover</button>
         </div>
      </div>
      <button type="button" class="btn-green pull-right" id="save-product">Salvar</button>
   </div>
</div>

<!-- Cadastro por grupo de produto -->
<div id="product-group-registation" class="col-xs-12 col-sm-12">
   <div class="col-xs-12 col-sm-6">
      <h1>Por Grupo</h1>
      <div class="row">
        <!-- Codigo do produto -->
        <div class="col-xs-12 col-sm-4">
           <div class="form-group">
              <label for="registration_product_group_code">Codigo</label>
              <input type="text" class="form-control" id="registration_product_group_code" placeholder="Codigo">
           </div>
        </div>
         <!-- Nome do grupo de produto -->
         <div class="col-xs-12 col-sm-8">
            <div class="form-group">
               <label for="registration_product_group">Grupo de Produto</label>
               <input type="text" class="form-control" id="registration_product_group" placeholder="Grupo de Produto">
            </div>
         </div>
         <div class="col-xs-12 col-sm-12">
            <table id="table-shipment-docs" class="table table-custom table-actions">
               <thead>
                  <tr>
                     <th></th>
                     <!-- Selecionar o produto  -->
                     <th>Código</th>
                     <th>Produto</th>
                     <th>Grupo</th>
                  </tr>
               </thead>
               <tbody></tbody>
            </table>
         </div>
      </div>
   </div>
   <div class="col-xs-12 col-sm-6">
   </div>
</div>
