<div class="col-xs-12 col-sm-6">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item active">
      <a class="nav-link" id="product-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Produto</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="product-group-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false">Grupo</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
  <div class="tab-pane fade active in" id="profile" role="tabpanel" aria-labelledby="product-tab">
    <div class="row">
       <!-- Codigo do produto -->
       <div class="col-xs-12 col-sm-4">
          <div class="form-group">
             <label for="registration_product_code">Codigo</label>
             <input type="text" class="form-control" id="registration_product_code" placeholder="Codigo">
          </div>
       </div>
       <!-- Nome do produto -->
       <div class="col-xs-12 col-sm-8">
          <div class="form-group">
             <label for="registration_product_name">Produto</label>
             <input type="text" class="form-control" id="registration_product_name" placeholder="Produto">
          </div>
       </div>
       <!-- Codigo de barras -->
       <div class="col-xs-12 col-sm-12">
          <div class="form-group">
             <label for="registration_product_EAN">Codigo de Barras</label>
             <input type="text" class="form-control" id="registration_product_EAN" placeholder="Ex: 7897095012642">
          </div>
       </div>
    </div>
  </div>
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="product-group-tab">
      <div class="row">
        <!-- Codigo do produto -->
        <div class="col-xs-12 col-sm-4">
           <div class="form-group">
              <label for="registration_product_group_code">Codigo</label>
              <input type="text" class="form-control" id="registration_product_group_code" placeholder="Codigo">
           </div>
        </div>
         <!-- Nome do grupo de produto -->
         <div class="col-xs-12 col-sm-8">
            <div class="form-group">
               <label for="registration_product_group">Grupo de Produto</label>
               <input type="text" class="form-control" id="registration_product_group" placeholder="Grupo de Produto">
            </div>
         </div>
         <div class="col-xs-12 col-sm-12">
            <table id="table-products" class="table table-custom table-actions">
               <thead>
                  <tr>
                     <th></th>
                     <!-- Selecionar o produto  -->
                     <th>Código</th>
                     <th>Produto</th>
                     <th>Grupo</th>
                  </tr>
               </thead>
               <tbody></tbody>
            </table>
         </div>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12 col-sm-6">
     <div class="form-group form-group-file">
        <!-- <label for="file-image-product">Foto</label> -->
        <div id="product-image-cover" class="image-cover image-place">
           <span class="text">Sem imagem</span>
           <input data-disabled="true" type="file" id="file-image-product" accept=".jpg, .jpeg, .png|images/*" class="filestyle" data-buttonText="Procurar" data-buttonName="btn-block btn-green" data-iconName="fa fa-file-image-o" data-input="false">
           <button disabled type="button" id="button-image-product-remove" class="btn btn-red"><i class="fa fa-times"></i> Remover</button>
        </div>
     </div>
     <button type="button" class="btn btn-green pull-right" id="save-product">Salvar</button>
  </div>
