<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>{$config->system->system_name} - Relatório</title>
        <link rel="SHORTCUT ICON" href="{$URI_PUBLIC}favicon.ico" type="image/x-icon">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <meta name="author" content="Alessandro Menezes">
        <meta name="theme-color" content="#333333">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link href="{$URI_LIB}css/components.css.php?colors={$colors|@json_encode|@urlencode}" rel="stylesheet" />
        <link href="{$URI_PUBLIC}css/report.css.php?colors={$colors|@json_encode|@urlencode}" rel="stylesheet" />
        {foreach $modules item=module}
            <link href="{$URI_PUBLIC}css/report/report-{$module->report_module_key}.css.php?colors={$colors|@json_encode|@urlencode}" rel="stylesheet" />
        {/foreach}
    </head>
    <body>
        <div class="overlay"></div>
        <div class="container">
            <div class="header">
                <div class="row">
                    <div class="col-xs-9">
                        <div class="logo">
                            <img src="{$URI_PUBLIC}images/logo.png" />
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="date">
                            <div class="month">{$token->token_date|date_format:'%B'}</div>
                            <div class="day">{$token->token_date|date_format:'%d'}</div>
                        </div>
                    </div>
                </div>
            </div>
            {foreach $modules item=module}
                <div class="report report-{$module->report_module_key}">
                    {include file="{$PATH_TEMPLATES}pages/report/report-{$module->report_module_key}.html"}
                </div>
            {/foreach}
        </div>
        <div class="footer">
            Compass
        </div>
    </body>
    <script src="{$URI_LIB}jquery/jquery-3.2.1.min.js"></script>
    <script src="{$URI_LIB}jquery/jquery-ui.js"></script>
    <script src="{$URI_LIB}bootstrap/js/bootstrap.min.js"></script>
    <script src="{$URI_LIB}js/global.js"></script>
    <script src="{$URI_PUBLIC}js/report.js"></script>
    {foreach $modules item=module}
        <script src="{$URI_PUBLIC}js/report/report-{$module->report_module_key}.js"></script>
    {/foreach}
</html>