<div class="panel-body">
    <div class="col-xs-12 col-sm-10">
        <label for="file">Imagens</label>
        <input multiple type="file" id="file" name="file" accept=".jpg, .jpeg|images/*" class="filestyle" data-buttonText="Procurar Imagens" data-buttonName="btn-block btn-green" data-iconName="fa fa-file-image-o" data-buttonBefore="true"{if $login->access->slide->add->value == 'N'} data-disabled="true"{/if}>
    </div>
    <div class="col-xs-12 col-sm-2">
        <div class="form-group">
            <button id="button-refresh" class="btn btn-block btn-blue">
                <i class="fa fa-refresh"></i> Atualizar
            </button>
        </div>
    </div>
    <div id="slides"></div>
</div>
<footer>
    <div><i class="fa fa-picture-o"></i> 0 Imagens</div>
    <span class="pull-right">{$config->system->system_name} v{$config->system->system_version}</span>
</footer>