<div class="panel panel-default">
    <div class="panel-body">
        <div class="filter">
            <form id="form-filter">
                <div class="row">
                    <div class="col-xs-12 col-sm-2">
                        <div class="form-group">
                            <label for="ticket_code">Chamado</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="ticket_code" placeholder="Chamado" />
                                <span class="input-group-addon"><i class="fa fa-file-text-o"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="form-group">
                            <label for="company_id">Empresa</label>
                            <div class="input-group">
                                <select class="selectpicker show-tick" id="company_id" title="-- Selecione a Empresa --"></select>
                                <span id="button-company-remove" class="input-group-addon btn"><i class="fa fa-trash-o"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <div class="form-group">
                            <label for="user_id">Usuário</label>
                            <div class="input-group">
                                <select data-live-search="true" data-size="8" class="selectpicker show-tick" id="user_id" name="user_id" title="-- Selecione --"></select>
                                <span id="button-user-remove" class="btn input-group-addon"><i class="fa fa-trash-o"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <div class="form-group">
                            <label for="owner_id">Responsável</label>
                            <div class="input-group">
                                <select data-live-search="true" data-size="8" class="selectpicker show-tick" id="owner_id" name="owner_id" title="-- Selecione --"></select>
                                <span id="button-owner-remove" class="btn input-group-addon"><i class="fa fa-trash-o"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-2">
                        <div class="form-group">
                            <label for="type">Tipo</label>
                            <div class="input-group">
                                <select class="selectpicker show-tick" id="type" name="type" title="-- Selecione --"></select>
                                <span id="button-type-remove" class="btn input-group-addon"><i class="fa fa-trash-o"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-2">
                        <div class="form-group">
                            <label for="status">Status</label>
                            <div class="input-group">
                                <select class="selectpicker show-tick" id="status" name="status" title="-- Selecione --"></select>
                                <span id="button-status-remove" class="btn input-group-addon"><i class="fa fa-trash-o"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-2">
                        <div class="form-group">
                            <label for="urgency">Urgência</label>
                            <div class="input-group">
                                <select class="selectpicker show-tick" id="urgency" name="urgency" title="-- Selecione --"></select>
                                <span id="button-urgency-remove" class="btn input-group-addon"><i class="fa fa-trash-o"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-2">
                        <div class="form-group">
                            <label for="start_date">Data Inicial</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input type="text" class="form-control" id="start_date" data-to-mask="date"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-2">
                        <div class="form-group">
                            <label for="end_date">Data Final</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input type="text" class="form-control" id="end_date" data-to-mask="date"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-2">
                        <div class="form-group">
                            <label>&nbsp;&nbsp;</label>
                            <button type="submit" class="btn btn-block btn-blue">
                                <i class="fa fa-refresh"></i> Atualizar
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <table id="table-tickets" class="table-custom .no-select">
            <thead>
                <tr>
                    <th></th>
                    <th>Código</th>
                    <th>Empresa</th>
                    <th>Prioridade</th>
                    <th>Tipo</th>
                    <th>Criador</th>
                    <th>Responsável</th>
                    <th>Atualização</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<footer>
    <span class="pull-right">{$config->system->system_name} v{$config->system->system_version}</span>
</footer>