<div class="panel-body">
    <div class="panel panel-budget">
        {include file="{$PATH_TEMPLATES}window/budget/includes/budget-tools.html"}
        {include file="{$PATH_TEMPLATES}window/budget/includes/budget-items.html"}
        {include file="{$PATH_TEMPLATES}window/budget/includes/budget-person.html"}
        {include file="{$PATH_TEMPLATES}window/budget/includes/budget-payments.html"}
        {include file="{$PATH_TEMPLATES}window/budget/includes/budget-buttons.html"}
    </div>
</div>
<footer>
    <div class="logo"></div>
    <div class="info"></div>
    <div class="idne"></div>
    <!--<span class="pull-right">{$config->system->system_name} v{$config->system->system_version}</span>-->
</footer>