<p>Olá, um novo chamado foi aberto através do site da Futura!</p>
<b>Código</b>: {$ticket->ticket_code}<br/>
<b>Pessoa</b>: {if empty($smarty.post.person.CdChamada)}{$smarty.post.person.person_code} - {$smarty.post.person.person_name}{else}{$smarty.post.person.CdChamada} - {$smarty.post.person.NmPessoa}{/if}<br/>
<b>Unidade</b>: {$smarty.post.data.company_name}<br/>
<b>Tipo de Chamado</b>: {$smarty.post.data.ticket_type_name}<br/>
<b>Categoria</b>: {$smarty.post.data.urgency_name}<br/>
<b>Mensagem</b>: {$smarty.post.data.message}<br/>